<footer class="bk-footer">
	<div class="copyright">
		<div class="contain">
			 {{widget('profile', 'footercopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
		 </div><!--end contain-->
	</div><!--end copyright-->
</footer>