<header class="bk-header">
	<div class="contain">
		<div class="brand">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
			{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		</div>
		{{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
		{{widget('profile', 'header-profile', { 'profileType':'address'})|raw}}
	</div><!--end contain-->
</header>